.DS_Store
target/
build/

# Ignore all VS Code (Java Plugin) files
.classpath
.project
.settings/
.vscode/

# Ignore Intellij IDE specific files
.idea/
*.iml

# Ignore the output of the Ant build
barcode4j/dist/