<?xml version="1.0"?>

<module name="barcode4j" fullname="Barcode4J">


    <url href="http://barcode4j.krysalis.org"/>

    <site hostname="krysalis.sourceforge.net"
        remotedir="/home/groups/b/ba/barcode4j/htdocs"/>


    <cvs repository="sourceforge"
        host-prefix="cvs.krysalis"
       
        module="barcode4j"
        href="http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/barcode4j/barcode4j/"/>

    <jars repository="maven" 
          url="http://www.ibiblio.org/maven/"/>
      
    <description>
      Barcode4J is a flexible generator for barcodes written in Java.
    </description>

    <detailed>
       Barcode4J supports a variety of barcode symbologies such as Interleaved 2 of 5, 
       Code 39, Code128, Codabar, EAN-8/13, UPC-E/A and POSTNET.
    </detailed>

    <what>
        <goal>Provide a free barcode package with support for many different symbologies.</goal>
    </what>

    <why>
      When working with XSL-FO in a business environment, it happens pretty often that you 
      need a barcode. There are a lot of commercial barcode libraries and fonts around,
      but very few free implementations.
    </why>

    <vendor>Krysalis Community Project - krysalis.org</vendor>

    <licence legal="./legal">
             This software is released under the Apache License, Version 2.0.
             For detailed legal and licensing issues, please read the LICENSE.* files
             in the /legal directory.
    </licence>

    <credits>
        <credit>This product includes software developed for project Krysalis (http://www.krysalis.org/).</credit>
        <credit>This software includes software developed by the Apache Software Foundation
                (http://www.apache.org/).
        </credit>
    </credits>

    <project name="barcode4j" fullname="Barcode4J">

        <version major="1"
            minor="0"
            fix  ="0"
            tag="HEAD"/>

        <package>org.krysalis</package>

        <ant target="gump" vm="1.2"/>

        <!-- Work dirs to be included in classpath  -->
        <work nested="build/classes"/>

        <home nested="build"/>

        <code type="java/plain" dir="src/java"/>
        <test type="test/junit" dir="src/test"/>
        <documentation type="xml/forrest" dir="src/documentation"/>

        <depend project="ant" />
        <depend project="avalon-framework" version="supplied"/>
        <depend project="jdom"/>
        <depend project="junit"/>
        <depend project="servletapi" />
        <depend project="xalan"/>
        <depend project="xerces"/>
        <depend project="xml-apis"/>
        <depend project="commons-cli"/>
        
       <nag to="jmaerki@users.sourceforge.net"
            from="Jeremias Maerki &lt;jmaerki@users.sourceforge.net&gt;"/>
        
          
    </project>

    
   
</module>




